language: android
sudo: required
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-25
    - extra-android-support
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository

before_install:
  - chmod +x gradlew

env:
  global:
    - ADB_INSTALL_TIMEOUT=8

script:
  - ./gradlew assembleRelease

licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
